.articles-banner-mobile{
    height: 240px;
    object-fit: cover;
}
.articles-banner-pc{
    height: 454px;
    object-fit: cover;
}
.articles-publish-date{
    color: $gray-500;
}
.articles-tags{
    padding: 4px 8px;
}
.other-articles-img-mobile{
    height: 200px;
    object-fit: cover;
}