<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Vivre | 訂閱方案</title>
    </head>
    <body class="bg-primary-100">
        <%- include('./layout/header'); -%>
        <main class="fw-bold py-15 py-md-25">
            <div class="container account-container">
                <div class="row">
                    <div class="account-content col-md-6 offset-md-3 bg-white p-6 p-md-10 border-primary-300 d-flex flex-column gap-6 gap-md-10">
                        <h2 class="fz-4 text-accent-200 fw-bolder">註冊</h2>
                        <form action="index.html" class="d-flex flex-column gap-4">
                            <div class="d-flex flex-column gap-2 gap-md-3">
                                <label for="userName" class="text-gray-800">會員帳號</label>
                                <input type="text" name="userName" id="userName" placeholder="請輸入會員帳號" class="account-form-input bg-gray-100 border-0 px-4 py-3 fw-semibold">
                            </div>
                            <div class="d-flex flex-column gap-2 gap-md-3">
                                <label for="userName" class="text-gray-800">密碼</label>
                                <input type="password" name="password" id="password" placeholder="請輸入密碼" class="account-form-input bg-gray-100 border-0 px-4 py-3 fw-semibold">
                            </div>
                            <div class="d-flex flex-column gap-2 gap-md-3">
                                <label for="userName" class="text-gray-800">電子信箱</label>
                                <input type="email" name="email" id="email" placeholder="請輸入電子信箱" class="account-form-input bg-gray-100 border-0 px-4 py-3 fw-semibold">
                            </div>
                        </form>
                        <button type="submit" class="btn btn-accent-200 border-0 text-white w-100 py-3 fw-bold" onclick="location.href='index.html'">立即註冊<i class="bi bi-arrow-right ms-3"></i></button>
                        <div class="separator fw-semibold">或以其他方式註冊</div>
                        <div class="d-flex flex-column gap-2">
                            <button type="submit" class="alternative-button btn btn-light border-0 w-100 py-3 fw-bold" onclick="location.href='index.html'"><i class="bi bi-google me-3"></i>使用 Google 註冊</button>
                            <button type="submit" class="alternative-button btn btn-light border-0 w-100 py-3 fw-bold" onclick="location.href='index.html'"><i class="bi bi-facebook me-3"></i>使用 Facebook 註冊</button>
                        </div>
                        <p class="text-center mb-0">已經是會員了？<a href="log_in.html" class="ms-3 text-accent-200">點此登入</a></p>
                    </div>
                </div>
            </div>
        </main>
        <%- include('./layout/footer'); -%>
        <script type="module" src="../main.js"></script>
    </body>
</html>